<%- include('../admin-partials/head')  %> 
<div class="dashboard-col-2">

    
    <h1>Edit Post</h1>

    <form action="/admin/posts/edit/<%-post.id%>?_method=PUT" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="exampleFormControlInput1" value="<%- post.title %>">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Status</label>
            <select name="status" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Open this select menu</option>
                <option value="public" <%= post.status==="public" ? "selected" : "" %>>Public</option>
                <option value="private" <%= post.status==="private" ? "selected" : "" %>>Private</option>
                <option value="draft" <%= post.status==="draft" ? "selected" : "" %>>Draft</option>
            </select>
        </div>
        <div class="mb-3 form-check">
            <input name="allowComments" type="checkbox" <% if (post.allowComments) { %> checked="checked"
             
            <% } %>  class="form-check-input" id="exampleCheck1">
            <label for="exampleCheck1" class="form-check-label">Allow Comments</label>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Body</label>
            <textarea name="body" cols="30" rows="10" class="form-control" id="exampleFormControlTextarea1" rows="3"><%- post.body %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/admin/posts" class="btn btn-primary">Cancel</a>
    </form>
</div>
<%- include('../admin-partials/footer')  %> 